@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --primary: #F79F1A;
  /* Orange color from the design */
  --primary-hover: #E68A00;
  --secondary: #000B3D;
  /* Dark blue background */
  --text-muted: #666666;
  --border-color: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-muted: var(--text-muted);
  --color-border: var(--border-color);
  --font-heading: var(--font-heading);
  --font-sans: var(--font-body);
}

@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-[1400px];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
  @apply antialiased overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

section {
  overflow: hidden !important;
}