@layer base {
  :root {
    font-family: var(--font-aleo), ui-sans-serif, system-ui, sans-serif;
  }
}

@import "tailwindcss";

@theme {
  --color-primary: #F5333F;
  --color-primary-hover: #E02B37;
  --color-secondary: #F5333F0D;
  --color-dark: #121212;
  --color-text: #666666;
  --color-light: #F9FAFB;
  --color-border: #E5E7EB;

  --font-sans: var(--font-aleo), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: #ffffff;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

p,
.paragraph {
  font-size: 17px;
  font-weight: 400;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
}
