@import "tailwindcss";

@theme {
  --color-primary: #9b8ab2;
  --color-primary-dark: #817094;
  --color-primary-light: #c2addf;
  --color-light: #c2addf;
  --color-brand-green: #e3f5eb;
  --color-brand-green-dark: #bdeccd;

  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.site-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
  .site-container {
    max-width: 540px;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .site-container {
    max-width: 720px;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .site-container {
    max-width: 960px;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .site-container {
    max-width: 1140px;
  }
}

/* XXL screens (≥1400px) */
@media (min-width: 1400px) {
  .site-container {
    max-width: 1380px;
  }
}

@media (min-width: 1600px) {
  .site-container {
    max-width: 1580px;
  }
}


@layer utilities {
  .section-title {
    @apply text-3xl md:text-4xl font-semibold text-gray-800 mb-4;
  }

  .section-desc {
    @apply text-gray-600 leading-relaxed mb-6;
  }

  .shine-effect {
    @apply relative overflow-hidden;
  }

  .shine-effect::after {
    content: '';
    @apply absolute top-[-50%] -left-full w-[25%] h-[200%] bg-white/20;
    transform: rotate(30deg);
    animation: shine 2s infinite;
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 150%;
  }
}



/* Custom Styles from Untitled-1 */

.bg-gradient {
  background: linear-gradient(180deg, #262261 0%, #7E7EB7 100%);
}

.steps-card {
  position: relative;
  padding: 10px;
  border-radius: 22px;
}

.steps-card img {
  min-height: 400px;
  object-fit: cover;
}

@media (min-width: 1536px) {
  .steps-card img {
    min-height: 260px;
    object-fit: cover;
  }
}

.steps-br {
  position: absolute;
  width: 60%;
  height: 100%;
  border: 2px dashed var(--color-primary);
  top: 0;
  left: 0;
  border-radius: 22px 0 0 22px;
}

.steps-card:hover .steps-bg {
  width: 100%;
  border-radius: 16px;
}

.steps-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 42%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 0px 16px 16px 0px;
  z-index: 0;
  transition: all 0.3s linear;
}

.steps-round {
  color: #fff;
  z-index: 1;
  background: var(--color-light);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  top: -20px;
  left: -21px;
  font-weight: 600;
  font-size: 24px;
}

.choose-rd {
  border: 36px solid #461c7b1a;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
}

.animate-pulse-scale {
  animation: pulse-scale 2s ease-in-out infinite;
}

@keyframes pulse-scale {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

@layer utilities {
  .section-title {
    @apply text-3xl md:text-4xl font-semibold text-gray-800 mb-4;
  }

  .section-desc {
    @apply text-gray-600 leading-relaxed mb-6;
  }
}