@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
  --color-primary: #3875e8;
  --color-primary-light: #5a8fee;
  --color-primary-dark: #275cbd;
}

@layer utilities {
  .heading {
    font-size: 28px;
    font-weight: 600;
  }
  @media (min-width: 768px) {
    .heading {
      font-size: 34px;
    }
  }

  .para {
    font-size: 16px;
    font-weight: 500;
  }
  @media (min-width: 768px) {
    .para {
      font-size: 18px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1400px;
    }
  }
}