@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8ABD24;
  /* Common green theme color */
  --primary-hover: #7ab332;
  --section-bg: #f5f6f6;
  /* Services section background */
  --text-muted: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-section-bg: var(--section-bg);
  --color-text-muted: var(--text-muted);
  --font-sans: var(--font-sora);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer components {
  .site-container {
    @apply px-4 lg:px-15 mx-auto;
  }

  .section-title {
    @apply text-3xl lg:text-[2.25rem] font-medium text-gray-800 leading-tight;
  }

  .section-desc {
    @apply text-gray-500 text-[16px] leading-relaxed;
  }
}