@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #666666;
  --primary: #004B87; /* AliveCor Deep Blue */
  --secondary: #111111;
  --text-muted: #6b7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--text-muted);
}

@layer components {
  .container {
    @apply px-4 lg:px-6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
  @apply antialiased;
}

section {
  overflow: hidden;
}

@media (min-width: 1024px) {
  p {
    font-size: 17px;
  }
}

@keyframes arrow-exit-entry {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  35% {
    transform: translateX(26px);
    opacity: 0;
  }
  36% {
    transform: translateX(-26px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.group:hover .animate-arrow-slide {
  animation: arrow-exit-entry 0.5s ease-in-out forwards;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-rajdhani), sans-serif;
  color: #333333;
}

p {
  font-family: var(--font-rubik), sans-serif !important;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}