@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-manrope: var(--font-manrope);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

p,
.base-text {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0%;
}